# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secrets
.env
*.env.local

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
